{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}



{{ $bvEncrypt := resources.Get "js/bv.encrypt.js" | fingerprint }}
<script defer src="{{ $bvEncrypt.RelPermalink }}"></script>

{{ $pvEncrypt := resources.Get "js/pv.encrypt.js" | fingerprint }}
<script defer src="{{ $pvEncrypt.RelPermalink }}"></script>



{{ $bptEncrypt := resources.Get "js/bpt.encrypt.js" | fingerprint }}
<script defer src="{{ $bptEncrypt.RelPermalink }}"></script>



{{ $klfaEncrypt := resources.Get "js/klfa.encrypt.js" | fingerprint }}
<script src="{{ $klfaEncrypt.RelPermalink }}"></script>

{{ $ktexEncrypt := resources.Get "js/ktex.encrypt.js" | fingerprint }}
<script src="{{ $ktexEncrypt.RelPermalink }}"></script>



{{ $imodEncrypt := resources.Get "js/imod.encrypt.js" | fingerprint }}
<script src="{{ $imodEncrypt.RelPermalink }}"></script>
