{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">

{{- $js := resources.Get "js/psw.encrypt.js" | minify | fingerprint -}}
<script src="{{ $js.RelPermalink }}" defer></script>
