<div class="social-group" style="display:flex;flex-direction:row;align-items:center;gap:24px;flex-wrap:wrap;width:100%;">
  {{- range site.Params.socialIcons }}
  <button onclick="window.open('{{ trim .url " " | safeURL }}','_blank')" class="social-btn" type="button">
    <div class="icon-box">
      {{ partial "svg.html" (merge . (dict "class" "social-icon")) }}
      {{- if eq .title "频道" }}<span class="cdk-tag">免费领CDK</span>{{- end }}
    </div>
    <span class="btn-text">{{ (.title | default .name) | title }}</span>
  </button>
  {{- end }}
</div>
