{{- $videoPath := .Get "src" | default (.Get 0) -}}
{{- $posterPath := .Get "poster" -}} <!-- 获取封面参数 -->
{{- $scale := .Get "scale" | default "100%" -}}

{{if $videoPath}}
  
  <div style="display: flex; justify-content: center; margin: 1em 0;">  
    <div style="  
      position: relative;  
      width: {{ $scale }};  
      aspect-ratio: 5 / 7.8;  
      overflow: hidden;  
      border-radius: 12px;  
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);  
    ">
      <video 
        src="{{ $videoPath }}" 
        {{ with $posterPath }}poster="{{ . }}"{{ end }}
        controls 
        style="  
          width: 100%;  
          height: 100%;  
          object-fit: cover; 
          border-radius: 12px;  
        "
      ></video>  
    </div>  
  </div>  
  </div>
{{else}}  
  <h6>请填写视频路径，例如：{{ "{{< video src=\"/img/xxx.mp4\" >}}" }}</h6>  
{{end}}



